{
    "pathBaseFilesSavedRoutine": "C:/Programming/services/organizar-docs/data/originals",
    "pathBaseToSave": "C:/Programming/services/organizar-docs/data/processed",
    "files": [
        {
            "patternFile": "GUIADAS",
            "fileDest": "{empresa}/DP FISCAL/GUIAS/SIMPLES NACIONAL/{ano}/{mes}-{ano}"
        },
        {
            "patternFile": "PGDAS",
            "fileDest": "{empresa}/DP FISCAL/RECIBOS/EXTRATO DO SIMPLES NACIONAL/{ano}"
        },
        {
            "patternFile": "SIMPLES NACIONAL",
            "fileDest": "{empresa}/DP FISCAL/FECHAMENTO/{ano}/{mes}-{ano}/RELATORIOS/SIMPLES NACIONAL"
        },
        {
            "patternFile": "SAIDAS",
            "fileDest": "{empresa}/DP FISCAL/FECHAMENTO/{ano}/{mes}-{ano}/RELATORIOS/SIMPLES NACIONAL"
        },
        {
            "patternFile": "SERVICOS",
            "fileDest": "{empresa}/DP FISCAL/FECHAMENTO/{ano}/{mes}-{ano}/RELATORIOS/SIMPLES NACIONAL"
        },
        {
            "patternFile": "ENTRADAS",
            "fileDest": "{empresa}/DP FISCAL/FECHAMENTO/{ano}/{mes}-{ano}/RELATORIOS/SIMPLES NACIONAL"
        }
    ]
}